html, body {
    width: 100%;
    height: 100%;
}

html {
	overflow: hidden;
}

.map {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 1;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}


.logo {
    width: 110px;
    height: 50px;
}

.search {
    width: 50px;
    height: 50px;
}

.address {
    height: 50px;
    width: calc(100% - 160px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
    width: 250px;
    height: calc(100% - 50px);
    background-color: lightgray;
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
}

.results-open {
    transform: translate(0, 0);

}

.arrow {
    position: absolute;
    top: 50%;
    left: 250px;
}

.flip-arrow {
    transform: scale(-1, 1);
}

.welcome-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.25);
}

.welcome-dialog {
    z-index: inherit;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-close, .welcome-go-btn {
    float: right;
}

.welcome-controls .row .col-xs-12 h6,
.welcome-controls .row .col-xs-12 input,
.welcome-controls .row .col-xs-12 select  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.welcome-error {
    display: none;
}

.welcome-close {
    visibility: hidden;
}

.welcome-loading {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.welcome-loading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
