html, body {
    width: 100%;
    height: 100%;
}

html {
	overflow: hidden;
}

.map {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 1;
}

/*============================================================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.logo {
    width: 110px;
    height: 50px;
}

.address {
    height: 50px;
    width: calc(100% - 160px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 50px;
    height: 50px;
}
/*----------------------------------------------------------------------------*/

/*============================================================================*/
.results {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
    width: 250px;
    height: calc(100% - 50px);
    background-color: white;
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
}

.results-open {
    transform: translate(0, 0);
}

.arrow {
    position: absolute;
    top: 50%;
    left: 250px;
}

.flip-arrow {
    transform: scale(-1, 1);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    overflow: hidden;
}

        .filter-entry {
            width: 200px;
            height: 35px;
        }

        .filter-btn {
            width: 50px;
            height: 35px;
        }

        /*.filter-label {
            width: 100%;
            height: 40px;
        }*/

        .filter-clear {
            width: 35px;
            height: 35px;
        }

        .filter-crumb {
            width: 215px;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            overflow: hidden;
        }

        .filter-crumb-text {
            display: inline-block;
            vertical-align: middle;
            line-height: 17px;
        }

.results-list {
    height: calc(100% - 70px);
    overflow-y: scroll;
}
/*----------------------------------------------------------------------------*/

/*============================================================================*/
.welcome-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.25);
}

.welcome-dialog {
    z-index: inherit;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 1px;
    right: 11px;
    display: none;
}

.welcome-controls .row .col-xs-12 h6,
.welcome-controls .row .col-xs-12 input,
.welcome-controls .row .col-xs-12 select  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

        .welcome-query {}
        .welcome-address {}
        .welcome-radius {}

.welcome-error {
    display: none;
}

.welcome-go-btn {
    float: right;
}

.welcome-loading {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.welcome-loading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
/*----------------------------------------------------------------------------*/

/*============================================================================*/
.entry-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.entry-dialog {
    z-index: inherit;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entry-close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    right: 5px;
}
/*----------------------------------------------------------------------------*/


/*============================================================================*/
.gp-loader {

}

.yp-loader {
    display: none;
}
.loader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loader-col {
    width:100%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
/*----------------------------------------------------------------------------*/
